# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache
*.pdb
*.egg-info/
dist/
*.egg

# Build / PyInstaller
build/
dist/
*.spec

# VSCode / IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Excel temporários
~$*.xlsx

# PDF / arquivos de nota fiscal podem ficar se quiser versionar
# NotaFiscal_*.pdf

# Dependências
venv/
.env